body{
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 10px;
}

#root {
  margin: 0 0 0 0;
}

.home-top-block {
  border: 3px;
  border-style: dashed;
  border-color: aqua;
}

.home-bottom-block {
  border: 3px;
  border-style: dashed;
  border-color: green;
}